<article class="flex flex-col gap-2 items-center">
  <figure
    class="w-full max-w-56 h-auto bg-secondary rounded-full overflow-hidden"
  >
    <img
      class="w-full object-cover aspect-square backdrop-filter drop-shadow-[0_0_15px_#00000080]"
      src="/images/paul-dev.webp"
      alt="Imagen principal de la página - pauldev"
    />
  </figure>
  <h3 class="font-black text-3xl">Paul Dev</h3>
  <span class="bg-accent w-24 h-1 rounded-full block"></span>
  <h5 class="uppercase tracking-widest">frontend developer</h5>
</article>

<style>
  article {
    grid-area: header;
  }
</style>
