---
import Btn from "@shared/ButtonsPage.astro";
import Presentation from "./Presentation.astro";
import Description from "./Description.astro";
---

<section class="w-11/12 mx-auto flex flex-col gap-6 justify-center">
  <Presentation className="hidden md:flex order-1" />
  <div
    class="btns-hero flex items-center justify-center gap-4 md:justify-start order-2"
  >
    <Btn href="/Projects/" text="proyectos" isPrincipal />
    <Btn href="/Curriculum/" text="curriculum" />
  </div>
  <Description className="hidden md:flex order-3" />
</section>

<style>
  section {
    grid-area: main;
  }
</style>
