---
interface Props {
  isDark?: boolean;
  className?: string;
}
const { isDark = true, className } = Astro.props;
const textColor: string = isDark ? "text-text" : "text-white";
---

<div class:list={[textColor, className, "flex flex-col gap-4"]}>
  <h1 class="text-5xl font-bold dark:text-dark-text">¡Hola! 👋</h1>
</div>
