---
import Linkedin from "@hero/icons/Linkedin.astro";
import GitHubIcon from "@hero/icons/GitHubIcon.astro";

interface Props {
  inFooter?: boolean;
}

const { inFooter = false } = Astro.props;
const colors = inFooter
  ? "hover:bg-glacier-800"
  : "hover:bg-glacier-300 dark:hover:bg-glacier-950";
const classLinks =
  "p-1 rounded-lg transition-colors duration-300 grid place-content-center dark:text-regentStBlue";
---

<section class="py-1 h-max bg-transparent">
  <ul class="flex items-center gap-4 w-full justify-center">
    <li>
      <a
        class:list={[classLinks, colors]}
        href="https://www.linkedin.com/in/paul-guachichullca-2287602b1/"
        target="_blank"><Linkedin /></a
      >
    </li>
    <li>
      <a
        class:list={[classLinks, colors]}
        href="https://github.com/Paul1226"
        target="_blank"><GitHubIcon /></a
      >
    </li>
  </ul>
</section>

<style>
  section {
    grid-area: footer;
  }
</style>
