---
import TitlePage from "@shared/TitlePage.astro";
interface Props {
  title: string;
  nameArea: string;
}
const { title, nameArea } = Astro.props;
---

<article class:list={["w-full dark:text-dark-background", nameArea]}>
  <TitlePage text={title}>
    <slot name="icon-title" />
  </TitlePage>
  <p class="pt-4">
    <slot />
  </p>
</article>
