---
interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<article class:list={["", className]}>
  <div class="content-list">
    <slot />
  </div>

  <div class="flex justify-center">
    <slot name="slot-btn" />
    <!-- <ButtonsPage href={hredBtn} text="ver más" isPrincipal inBlue /> -->
  </div>
</article>
