---
import Layout from "src/layouts/Layout.astro";
import SectionWrapper from "@components/SectionWrapper.astro";
import HeaderPage from "@components/HeaderPage.astro";
import FormContact from "./components/FormContact.astro";
import ContactIcon from "./icons/ContactIcon.astro";
---

<Layout title="Paul Dev - Contact">
  <SectionWrapper>
    <HeaderPage nameTitle="contáctame">
      <ContactIcon slot={"icon-in-title"} />
    </HeaderPage>
    <div class="backdrop-blur-sm bg-white/30 py-12 shadow-lg">
      <div class="container mx-auto px-6 sm:px-12 lg:px-24">
        <div class="w-max mx-auto mb-6 flex flex-col items-center">
          <p>¿Tienes un proyecto en mente o alguna pregunta?</p>
          <p>¡Estoy emocionado de escucharte!</p>
          <p class="mt-6">Escríbeme y conversemos.</p>
        </div>

        <!-- formulario -->
        <FormContact />
      </div>
    </div>
  </SectionWrapper>
</Layout>
