---
interface Props {
  gridArea: string;
  question: string;
}
const { gridArea, question } = Astro.props;
---

<article
  class:list={[
    gridArea,
    "p-3 rounded-lg shadow-lg backdrop-blur-sm bg-white/30",
  ]}
>
  <h4 class="font-bold">{question}</h4>
  <div class="descript text-sm text-gray-800">
    <slot />
  </div>
</article>
