<article class="flex flex-col gap-2 items-center">
  <figure
    class="w-full max-w-56 h-auto bg-green-800 rounded-full overflow-hidden"
    style="box-shadow: inset 0 0 15px #00000050;"
  >
    <img
      class="w-full object-cover aspect-square"
      style="filter: drop-shadow(0 0 4px #000);"
      src="/images/paul-dev.webp"
      alt="Imagen principal de la página - pauldev"
    />
  </figure>
  <h3 class="font-black text-3xl">Paul Dev</h3>
  <span class="bg-green-800 w-24 h-1 rounded-full block"></span>
  <h5 class="uppercase tracking-widest">frontend developer</h5>
</article>

<style>
  article {
    grid-area: header;
  }
</style>
