---
import Layout from "../layouts/Layout.astro";
import SecCards from "../components/projects/SectionWrapperCards.astro";
import Briefcase from "../icons/Briefcase.astro";
import Section from "../components/SectionWrapper.astro";
import HeaderPage from "../components/HeaderPage.astro";

import CardProjects from "../components/projects/CardProjects.astro";
import { projects } from "../data/Projects";
const projectsAll = projects || [];
---

<Layout title="Paul Dev - Projects">
  <Section>
    <HeaderPage
      nameTitle="projects"
      shortDetail="Como desarrollador web, me especializo en crear interfaces atractivas y funcionales con un enfoque en el frontend utilizando tecnologías modernas como HTML, CSS, JavaScript. Actualmente, estoy ampliando mis habilidades al explorar e implementar conceptos de backend para desarrollar aplicaciones más completas y dinámicas."
    >
      <Briefcase slot={"icon-in-title"} />
    </HeaderPage>
    <SecCards>
      {projectsAll.map((project) => <CardProjects datos={project} />)}
    </SecCards>
  </Section>
</Layout>
