---
import CoverImage from "./about/CoverImage.astro";
import HeroAbout from "./about/HeroAbout.astro";
import SocialNetworks from "./about/SocialNetworks.astro";
import Presentation from "./about/Presentation.astro";
import Description from "./about/Description.astro";
---

<section class="relative -z-10" id="curriculum">
  <div class="relative w-full h-full py-5 md:py-8">
    <!-- background tras la card de presentacion -->
    <div
      class="grid grid-cols-1 grid-rows-2 w-full h-full absolute top-0 -z-10 md:grid-cols-[1fr_2fr] md:grid-rows-1"
    >
      <div class="first-grid w-full order-1 md:order-2"></div>
      <div class="second-grid bg-green-900 w-full order-2 md:order-1"></div>
    </div>
    <!-- ---------------- -->

    <div
      class="w-11/12 mx-auto max-w-4xl rounded-md content-card py-4 px-6 relative overflow-hidden"
    >
      <CoverImage />
      <HeroAbout />
      <SocialNetworks />

      <!-- background dentro de card de presentacion -->
      <div
        class="absolute inset-0 -z-10 grid grid-cols-1 grid-rows-1 md:grid-cols-[270px_auto]"
      >
        <div class="ss bg-gold-50"></div>
        <div class="ss hidden md:block bg-white"></div>
      </div>
      <!-- --------- -->
    </div>
  </div>
  <div class="bg-green-900 content-presentation-description w-full md:hidden">
    <div class="w-11/12 mx-auto py-6 flex flex-col gap-8">
      <Presentation isDark={false} />
      <Description isDark={false} />
    </div>
  </div>
</section>

<style>
  .content-card {
    box-shadow: 0 0px 15px #00000020;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    gap: 1rem;
    column-gap: 2.5rem;
  }

  /* .first-grid, */
  .second-grid,
  .content-presentation-description {
    background-image: url("/textures/45-degree-fabric-dark.webp");
  }

  @media (min-width: 768px) {
    .content-card {
      grid-template-areas: "header main" "footer main";
    }
  }
</style>
