<div
  class="grid grid-cols-1 grid-rows-2 w-full h-full absolute top-0 -z-10 md:grid-cols-[1fr_2fr] md:grid-rows-1"
>
  <div class="first-grid w-full order-1 md:order-2"></div>
  <div class="second-grid bg-green-750 w-full order-2 md:order-1"></div>
</div>

<style>
  .second-grid {
    background-image: url("/textures/45-degree-fabric-dark.webp");
  }
</style>
