<div
  class="absolute inset-0 -z-10 grid grid-cols-1 grid-rows-1 md:grid-cols-[270px_auto]"
>
  <div class="mdf bg-gold-50"></div>
  <div class="hidden md:block bg-white"></div>
</div>

<style>
  .mdf {
    background-image: url("/textures/white-diamond.png");
  }
</style>
