---
import SocialNetworks from "./SocialNetworks.astro";
---

<footer class="w-full py-8">
  <div
    class="w-11/12 mx-auto max-w-6xl flex flex-col gap-6 md:flex-row md:justify-between md:items-center"
  >
    <article class="order-2 md:order-1 w-max">
      <p class="pb-2">Política de privacidad</p>
      <p class="text-sm text-gray-800">@2024 Creado por PaulDev</p>
      <p class="text-sm text-gray-800">
        Inspirado de <a
          class="underline"
          href="https://manage.wix.com/dashboard/b3c75237-4540-4678-a565-805306d0a090/setup"
          >Wix.com</a
        >
      </p>
    </article>
    <article
      class="w-full flex items-center justify-between flex-wrap order-1 gap-4 md:order-2 md:justify-start md:w-max"
    >
      <div class="content">
        <strong>llama</strong>
        <p class="text-gray-800">+593 98 0958291</p>
      </div>
      <div class="content">
        <strong>escribe</strong>
        <a
          class="block truncate text-gray-800"
          href="mailto:paulguachichullca023@gmail.com"
          >paulguachichullca023@gmail.com</a
        >
      </div>
      <div class="content">
        <strong>sigue</strong>
        <SocialNetworks inFooter />
      </div>
    </article>
  </div>
</footer>

<style>
  .content {
    width: 180px;
    /* background-color: red; */
  }

  strong {
    text-transform: capitalize;
  }
</style>
