---
import Cross from "../icons/Cross.astro";
import Menu from "../icons/Menu.astro";
const currentPath = new URL(Astro.request.url).pathname;
const classLink =
  "px-2 py-1 block uppercase text-2xl font-semibold tracking-wide transition-colors duration-300 md:text-lg md:font-light hover:text-primary";
---

<header class="w-full md:sticky md:top-0 md:left-0 md:z-10">
  <section
    class="flex justify-between items-center w-full max-w-6xl mx-auto px-4 py-5"
  >
    <div class="logo">
      <a href="/" class="flex flex-col md:flex-row md:items-end relative z-20">
        <div class="flex items-center gap-2">
          <span class="block bg-primary w-4 h-4 rounded-sm"></span>
          <span class="font-black text-3xl">Paul Dev</span>
        </div>
        <span class="uppercase tracking-wide">/ Frontend developer</span>
      </a>
    </div>

    <nav class="nav-container">
      <div class="content-btns grid place-content-center md:hidden">
        <a href="#nav" class="[grid-area:icons] btn">
          <Menu />
        </a>
        <a href="#" class="[grid-area:icons] btn btn-cross">
          <Cross />
        </a>
      </div>
      <ul
        class="nav-list absolute left-0 right-0 z-10 h-full bg-secondary/70 backdrop-blur-lg flex justify-center items-center flex-col gap-2 md:relative md:bg-transparent md:backdrop-blur-none md:flex-row md:z-0"
        id="nav"
      >
        <li>
          <a
            class:list={{
              [classLink]: true,
              active: currentPath === "/About/",
            }}
            href="/About/">sobre&nbsp;mí</a
          >
        </li>
        <li>
          <a
            class:list={{
              [classLink]: true,
              active: currentPath === "/Curriculum/",
            }}
            href="/Curriculum/">currículum</a
          >
        </li>
        <li>
          <a
            class:list={{
              [classLink]: true,
              active: currentPath === "/Projects/",
            }}
            href="/Projects/">proyectos</a
          >
        </li>
        <li>
          <a
            class:list={{
              [classLink]: true,
              active: currentPath === "/Contact/",
            }}
            href="/Contact/">contacto</a
          >
        </li>
      </ul>
    </nav>
  </section>
</header>

<style>
  .nav-container {
    /* variables */
    --scale: scale(1);
    --no-scale: scale(0);
    --bottom: 100%;
  }
  .content-btns {
    grid-template-areas: "icons";
  }

  .btn {
    transform: var(--scale);
    position: relative;
    z-index: 20;
    transition: transform 300ms;
  }
  .btn-cross {
    transform: var(--no-scale);
  }
  .nav-list {
    top: unset;
    bottom: var(--bottom);
    transition: bottom 500ms;
  }

  .nav-list li a.active {
    color: var(--terciary);
  }

  .nav-container:has(.nav-list:target) {
    --scale: scale(0);
    --no-scale: scale(1);
    --bottom: 0;
  }

  @media (min-width: 768px) {
    header {
      animation: scroll-header linear both;
      animation-timeline: scroll(root block);
      animation-range: 0 100px;
    }
  }

  @keyframes scroll-header {
    100% {
      background-color: #ffffffa2;
      backdrop-filter: blur(0.7rem);
      border-bottom-left-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
      box-shadow: 0 10px 10px #00000020;
    }
  }
</style>
