---
interface Props {
  isDark?: boolean;
  className?: string;
}
const { isDark = true, className } = Astro.props;
const textColor: string = isDark ? "text-text" : "text-white";
---

<div class:list={[textColor, className, "flex flex-col gap-4"]}>
  <h1 class="text-5xl font-bold">¡Hola! 👋</h1>
  <p class="text-2xl font-semibold">Esto es lo que hago</p>
</div>
