---
import InputWrapper from "./InputWrapper.astro";
import "../styles/inputsStyles.css";
---

<div class="bg-white shadow-md rounded-lg p-6 sm:p-10 max-w-lg mx-auto">
  <form
    action="https://formsubmit.co/paulguachichullca023@gmail.com"
    method="POST"
    class="space-y-4"
  >
    <!-- Nombre -->
    <InputWrapper id="name" nameLabel="nombre" />

    <!-- Correo -->
    <InputWrapper id="email" nameLabel="Correo" isCorreo />

    <!-- Mensaje -->
    <div class="relative inputGroup">
      <textarea
        name="message"
        id="message"
        rows="4"
        class="text-[100%] p-2 outline-none border-2 border-solid border-[#c8c8c8] bg-transparent rounded-lg w-full resize-none"
        required
        style="form-sizing: content;"></textarea>
      <label
        for="message"
        class="text-[100%] absolute left-0 p-2 ml-2 pointer-events-none transition-all ease-linear text-[#646464] capitalize"
        >Mensaje</label
      >
    </div>
    <!-- Botón de Enviar -->
    <button
      type="submit"
      class="w-full bg-primary text-white py-2 px-4 rounded-lg transition-all duration-300 border-2 border-solid border-terciary hover:shadow-btn-pri"
    >
      Enviar
    </button>
  </form>
</div>
