---
import { experiences } from "../../data/Experience";
import CardExperience from "./CardExperience.astro";

const list_Experience = experiences;
---

<div class="dd grid gap-4">
  {list_Experience.map((experiences) => <CardExperience datos={experiences} />)}
</div>

<style>
  .dd {
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
  }
</style>
