---
import { education } from "../../data/Studies";
import CardStudies from "./CardStudies.astro";

const list_Studies = education;
---

<div class="dd grid gap-4">
  {list_Studies.map((study) => <CardStudies datos={study} />)}
</div>

<style>
  .dd {
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
  }
</style>
