---
interface Props {
  title: string;
  principal?: boolean;
}
const { title, principal = true } = Astro.props;

// components
import Footer from "@shared/Footer.astro";

// fonts
// 300-900
import "@fontsource-variable/red-hat-display";
// Supports weights 100-900
import "@fontsource-variable/inter";

import Header from "@header/Header.astro";
import ScrollToTop from "@shared/ScrollToTop.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="relative -z-50 bg-background text-text">
    <main class="flex flex-col min-h-screen">
      {principal && <Header />}
      <slot />
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>

<style is:global>
  :root {
    /* variables */

    /* fonts-variables */
    --font-inter: "Inter Variable", sans-serif;
    --font-redhat: "Red Hat Display Variable", sans-serif;
    --darksreen: #2f3037;

    /* colors */
    --text: #0c0d0e;
    --background: #f9fbfb;
    --primary: #1d4266;
    --primary-50: #1d416663;
    --secondary: #a5c5d5;
    --terciary: #cdd6de;
    --terciary-gray: #cdd6de;
    --accent: #76afcb;

    --dark-text: #f1f2f3;
    --dark-background: #040606;
    --dark-primary: #98bde2;
    --dark-secondary: #2a4a5a;
    --dark-accent: #346d89;
  }
  * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    font-family: var(--font-inter);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-redhat);
  }

  body {
    --sb-track-color: var(--background);
    --sb-thumb-color: var(--primary);
    --sb-size: 8px;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 1px solid var(--sb-track-color);
    /* border-color: var(--sb-track-color); */
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
</style>
