---
interface Props {
  title: string;
}
const { title } = Astro.props;

// components
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollToTop from "../assets/buttons/ScrollToTop.astro";

// fonts
// 300-900
import "@fontsource-variable/red-hat-display";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class="relative -z-50 bg-background text-text">
    <main>
      <Header />
      <slot />
    </main>
    <Footer />
    <ScrollToTop />
  </body>
</html>

<style is:global>
  :root {
    /* variables */
    /* --primary: #166534;
    --secondary: #feffbe;
    --terciary: #cc2936;
    --cuaternary: #0050ff;
    --lightsreen: #f8fafc;
    --darksreen: #2f3037; */

    --text: #0c0d0e;
    --background: #f9fbfb;
    --primary: #1d4266;
    --primary-50: #1d416663;
    --secondary: #a5c5d5;
    --terciary: #cdd6de;
    --terciary-gray: #cdd6de;
    --accent: #76afcb;

    --dark-text: #f1f2f3;
    --dark-background: #040606;
    --dark-primary: #98bde2;
    --dark-secondary: #2a4a5a;
    --dark-accent: #346d89;
  }
  * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Red Hat Display Variable", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    --sb-track-color: var(--background);
    --sb-thumb-color: var(--primary);
    --sb-size: 8px;
  }

  body::-webkit-scrollbar {
    width: var(--sb-size);
  }

  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 1px solid var(--sb-track-color);
    /* border-color: var(--sb-track-color); */
  }

  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
  }
</style>
